##############################
## Java
##############################
## Maven
##############################
target/

##############################
## Eclipse
##############################
.project
